.font{
    font-family: 'Raleway Dots', cursive;
color: black;
}


.name {
    position: absolute;
    margin: 0.8em 0 0 0.3em;
    font-size: 1.95em;
    text-shadow: 2px 2px #1BB0D1;
}

.freelancer {
    position: absolute;
    margin: 3.4em 0 0 1em;
    font-size: 1.2em;
}

.mail{
    position: absolute;
    margin: 4em 0 0 22em;
}

.dirMail{
    font-family: 'Poiret One', cursive;
    position: absolute;
    margin: 1.3em 0 0 -18em;
}


.icoMail{
    position: absolute;
    width: 35px;
    margin: 2em 0 0 -21.5em;
}

.movil{
    font-family: 'Poiret One', cursive;
    position: absolute;
    margin: 8.8em 0 0 3.4em;
}

.nerdy{
    position: absolute;
    margin: 8.6em 0 0 0.1em;
    width: 25px;
}

.ico{
    width: 35px;
}

.socialMedia{
    position: absolute;
    display: flex;
    margin: 7.8em 0 0 13.5em;
}

.instagram{
    margin: 0 -0.6em 0 0;
}

.linkedin{
    margin: 0 -0.6em 0 0;
}

.github{
    margin: 0 -0.6em 0 0;
}

@media only screen and (max-width: 600px){
    
    .name {
        margin: 0.8em 0 0 0.3em;
        font-size: 1.95em;
    }

    .freelancer{
        margin: 3.8em 0 0 1em;
        font-size: 1.1em;
    }

    .mail{
        position: absolute;
        margin: 3.5em 0 0 22em;
    }
    
    .dirMail{
        position: absolute;
        margin: 1.4em 0 0 -18em;
    }
    
    
    .icoMail{
        position: absolute;
        width: 37px;
        margin: 2em 0 0 -21.5em;
    }
    
    .movil{
        position: absolute;
        margin: 8.8em 0 0 3.4em;
    }
    
    .nerdy{
        position: absolute;
        margin: 8.6em 0 0 0.1em;
        width: 27px;
    }
    
    .ico{
        width: 39px;
    }
    
    .socialMedia{
        position: absolute;
        display: flex;
        margin: 7.5em 0 0 11em;
    }
    
    .instagram{
        margin: 0 -0.6em 0 0;
    }
    
    .linkedin{
        margin: 0 -0.6em 0 0;
    }
    
    .github{
        margin: 0 -0.6em 0 0;
    }
}


@media only screen and (max-width: 320px){
    
    .name {
        margin: 0.8em 0 0 0.3em;
        font-size: 1.95em;
    }

    .freelancer{
        margin: 4.3em 0 0 1em;
        font-size: 1em;
    }

    .mail{
        position: absolute;
        margin: 3.5em 0 0 22em;
    }
    
    .dirMail{
        position: absolute;
        margin: 0.5em 0 0 -18em;
    }
    
    
    .icoMail{
        position: absolute;
        width: 38px;
        margin: 2.2em 0 0 -21.5em;
    }
    
    .movil{
        position: absolute;
        margin: 8.8em 0 0 3.4em;
    }
    
    .nerdy{
        position: absolute;
        margin: 8.6em 0 0 0.4em;
        width: 28px;
    }
    
    .ico{
        width: 37px;
    }
    
    .socialMedia{
        position: absolute;
        display: flex;
        margin: 7.5em 0 0 13em;
    }
    
    .instagram{
        margin: 0 -0.6em 0 0;
    }
    
    .linkedin{
        margin: 0 -0.6em 0 0;
    }
    
    .github{
        margin: 0 -0.6em 0 0;
    }
}